:root {
  --davys-grey: #545454ff;
  --sonic-silver: #69747cff;
  --forest-green-crayola: #6baa75ff;
  --light-green: #84dd63ff;
  --bitter-lime: #cbff4dff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bitter-lime);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: var(--sonic-silver);
  font-size: 10px;
}

.header {
  position: relative;
  width: 100%;
  background: var(--light-green);
  font-size: 1.2rem;
  text-align: left;
}

header h1 {
  display: inline-block;
}

.nav-container {
  position: inline-block;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

.nav-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: var(--davys-grey);
}

.about-me-image img {
  float: left;
  margin: 30px;
  height: 250px;
}

.about-me-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.about-me-p {
  text-align: left;
  font-size: 1.2rem;
}

.portfolio-title {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.main-project img {
  width: 100%;
}

.other-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 25rem;
}

.project-card img {
  width: 100%;
}

.contact-me {
  padding: 10px;
  background: var(--light-green);
  font-size: 1.2rem;
}

.footer {
  position: relative;
  width: 100%;
  background: var(--light-green);
  font-size: 1.2rem;
  text-align: left;
}

footer h1 {
  display: inline-block;
}

.contact-me ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.external-link {
  display: inline-block;
  text-decoration: none;
  color: var(--davys-grey);
}
