/* The main colours I will be working with for my webpage  */
:root {
  --tea-green: #def2c8ff;
  --tea-green-2: #c5dac1ff;
  --opal: #bcd0c7ff;
  --ash-gray: #a9b2acff;
  --middle-grey: #898980ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--opal);
  font-family: "Poppins";
  line-height: 1.4;
  color: var(--middle-grey);
  font-size: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: var(--tea-green);
}
/* This contains an image I am using in my header */
.header img {
  display: block;
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.header h1 {
  margin: 10px;
  font-size: 2.5rem;
  text-align: center;
}
.header .nav-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  color: var(--middle-grey);
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  margin-top: 20px;
  padding: 50px;
  font-size: 1.2rem;
  text-align: left;
  background: var(--tea-green);
  margin-bottom: 10px;
}

.portfolio {
  font-size: 1.4rem;
  text-align: center;
}

.main-project-card {
  display: block;
  position: relative;
  margin-bottom: 2rem;
}

.main-project-card img {
  width: 100%;
}

.main-project-card-info {
  position: absolute;
  background: var(--tea-green);
  padding: 10px;
  width: 50%;
  top: 66.5%;
  right: 10%;
  font-size: 1.5rem;
}

.main-project-card-info a {
  text-decoration: none;
  color: var(--ash-gray);
}

.other-projects {
  padding: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 30%;
  margin: 10px;
  padding: 10px;
  padding: 2px 16px;
  display: block;
  background: var(--tea-green);
  font-size: 1.2rem;
}

.project-card img {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.project-card a {
  color: var(--ash-gray);
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  background: var(--tea-green);
}

.footer h2 {
  font-size: 1.6rem;
  text-align: center;
  margin: 10px;
}

.foot-nav-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer-items {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--middle-grey);
}

@media screen and (max-width: 576px) {
  .header .nav-container {
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-project-card {
    width: 100%;
  }

  .main-project-card-info {
    left: 0%;
    width: 100%;
    top: 100%;
  }

  .main-project-card-info a {
    text-decoration: none;
    color: var(--ash-gray);
  }

  .other-projects {
    margin-top: 300px;
    flex-wrap: wrap;
  }

  .project-card {
    width: 100%;
  }

  .footer h2 {
    position: center;
  }

  .foot-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
}
