:root {
  --davys-grey: #545454ff;
  --sonic-silver: #69747cff;
  --forest-green-crayola: #6baa75ff;
  --light-green: #84dd63ff;
  --bitter-lime: #cbff4dff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bitter-lime);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: var(--sonic-silver);
  font-size: 10px;
}

.header {
  position: relative;
  width: 100%;
  background: var(--light-green);
  font-size: 1.2rem;
  text-align: left;
}

header h1 {
  display: inline-block;
}

.nav-container {
  position: inline-block;
  padding-top: 20px;
  margin-right: 20px;
  float: right;
}

.nav-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.nav-link {
  text-decoration: none;
  color: var(--davys-grey);
  margin: 50px;
}

.about-me-image img {
  float: left;
  margin: 30px;
  height: 250px;
}

.about-me-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.about-me-p {
  text-align: left;
  font-size: 1.2rem;
}

.portfolio-header {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.main-project img {
  width: 100%;
  
}

.main-project h3 {
  display:block;
  background:var(--forest-green-crayola);
  font-size: 1.2rem;
  margin:0;
}

.main-project p {
display: block;
background:var(--light-green);
}

.other-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 30%;
  margin:0;
  padding: 2rem;;
}

.project-card img {
  width: 100%;
  margin-bottom: -10px;

}

.card-container {
  padding: 2px 16px;
  display:block;
  background: var(--forest-green-crayola);
  font-size: 1.2rem;
}


.footer {
  position: absolute;
  display:block;
  width: 100%;
  background: var(--light-green);
  font-size: 1.2rem;
  text-align: left;
  
}

}
.footer-header h1 {
 display: block;
 float:left;

}

.foot-nav-container {
  
  padding-top: 20px;
  margin-right: 20px;
  float: right;
}

.foot-nav-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px; }

.external-link {
  text-decoration: none;
  color: var(--davys-grey);
  margin: 50px;
}
